:root {
    --bg1: #f0f0f0;
    --bg2: #c0c0c0;
    --bg3: #d8d8d8;
}

body {
    margin: 0;
    background-color: var(--bg1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: var(--bg2);
    padding: 8px;
}

nav > a {
    display: inline-block;
    margin: 0;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background: #00000010;
}

#search > div {
    padding: 6px;
    width: calc(100% - 80px);
    margin: 16px 32px 0 32px;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
}

#search > ul > h4 {
    margin: 8px;
}

#search > ul {
    padding: 6px;
    width: calc(100% - 80px);
    margin: 0 32px;
    border: 2px solid black;
    border-radius: 0 0 8px 8px;
}

#search > ul > li {
    display: inline-block;
    background: var(--bg3);
    padding: 4px 8px;
    margin: 6px 4px;
    border: 1px solid black;
    border-radius: 4px;
    list-style: none;
    cursor: pointer;
}

main {
    padding: 32px;
}